llama-index==0.10.32
llama-index-core==0.10.32
llama-index-embeddings-ollama==0.1.2
llama-index-llms-ollama==0.1.5
llama-index-readers-file==0.1.19
llama-index-readers-llama-parse==0.1.4
llama-index-readers-web==0.1.10
llama-index-vector-stores-chroma==0.1.9
streamlit==1.35.0
torch==2.4.0.dev20240401+rocm6.0
torchaudio==2.2.0.dev20240402+rocm6.0
torchvision==0.19.0.dev20240402+rocm6.0
