llama-index==0.10.32
llama-index-core==0.10.32
llama-index-embeddings-ollama==0.1.2
llama-index-llms-ollama==0.1.5
llama-index-readers-file==0.1.19
llama-index-readers-llama-parse==0.1.4
llama-index-readers-web==0.1.10
llama-index-vector-stores-chroma==0.1.9
streamlit==1.35.0
